<!DOCTYPE html>
<html>
<head>
  <title>Item</title>
</head>
<body>
  <h1><%= item.name %></h1>
  <a href="/item/edit/<%= item.id %>">Edit</a>
  <a href="/item/delete/<%= item.id %>">Delete</a>
</body>
</html>
